<div class="header-info">
  <span class="header-info-name">{{ site.title }}</span>
  <span class="header-info-desc">{{ site.description }}</span>
</div>
<nav class="header-nav">
  <ul class="header-main-nav">
  {% for item in site.data.menus %}
    <li class="header-main-nav-item"><a href="{% if item.absoluteUrl != true %}{{ site.baseurl }}/{% endif %}{{ item.url }}">{% if item.default %}{{ site.data.lang[site.language][item.default] }}{% else %}{{ item.title }}{% endif %}</a></li>
  {% endfor %}
  <li class="header-main-nav-item"><a href="/feed.xml">Subscribe</a></li>
  </ul>
</nav>
