---
---

@charset "utf-8";

@import
  "reset",
  "container",
  "header",
  "float",
  "footer",
  "page",
  "post-list",
  "post",
  "category",
  "highlighter",
  "mobile",
  "printer",
  "task-list",
  "mermaid"
;

.my-gallery-header {
  display: block;
  margin: 2em;
}

.my-gallery > figure > a > img {
  max-height: 300px;
  max-width: 300px;
}

.my-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  max-width: 100%;
}

 .my-gallery > figure {
   margin: 1.5em auto;
}
